* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30vw;
}

.upper-box {
  max-width: 20rem;
}

header {
  text-align: center;
}

header>h1 {
  color: #F9F4DA;
}

header>p {
  font-size: 0.875rem;
  color: #8E8E8E;
}

.status-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #F9F4DA;
  border-radius: 5px;
  margin-block: 1.5rem;

  background-color: #10A95B;
}

.lang-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

span.lang-chip {
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
  position: relative;
}

span.lost::before {
  color: white;
  content: "X";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.word-revealer {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.word-revealer>span {
  height: 2.75rem;
  aspect-ratio: 1;
  border-bottom: 1px solid #F9F4DA;
  background-color: #323232;
  padding: 0.5rem 0.95rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.35rem;
  max-width: 25vw;
  margin-bottom: 1rem;
}

.keyboard>button {
  color: black;
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;

  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0.5rem;

  cursor: pointer;
}

button.unchosen {
  background-color: #FCBA29;
}

button.correct {
  background-color: #10A95B;
}

button.incorrect {
  background-color: #EC5D49;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid white;
  border-radius: 0.2rem;

  font-family: "Hanken Grotesk";
  font-size: 2rem;
  font-weight: 300;

  width: 60%;
  padding: 0.25rem 0.75rem;
}